<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.minres.com/rdl/RDL"
			class = "com.minres.rdl.rdl.RdlPackage"
			genModel = "model/generated/RDL.genmodel" />
	</extension>
	<extension point="org.eclipse.core.runtime.preferences">
		  <initializer class="com.minres.rdl.preferences.PreferenceInitializer">
		  </initializer>
	</extension>
</plugin>
